*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --primary-color:#398AB9;
    --secondary-color:#fff;

}

.container{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100vh;
}

.btn1{
    margin: 0 20px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    border:1px solid var(--primary-color);
    background: none;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: 1s;
}

.type1{
    color: var(--primary-color);
}
.type1:hover{
    color: var(--secondary-color);
}

.btn1::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    z-index: -1;
    transition: 1s;
}

.hover1::before{
    border-radius: 0 0 50% 50%;
    background-color: var(--primary-color);
    top: 0;
}
.hover1:hover::before{
    height: 190%;
}

.hover2::before{
    border-radius:50% 50% 0 0;
    background-color: var(--primary-color);
    bottom: 0;
}

.hover2:hover::before{
    height: 190%;
}




.type2{
    color: var(--secondary-color);
}
.type2:hover{
    color: var(--primary-color);
}

.btn2{
    margin: 0 20px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    border:1px solid var(--primary-color);
    background: none;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: 1s;
}

.btn2::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    z-index: -1;
    transition: 1s;
    background-color: var(--primary-color);
}

.hover3::before{
    height: 190%;
    top: 0;
}
.hover3:hover::before{
    border-radius: 0 0 50% 50%;
    height: 0;
}

.hover4::before{
    height: 190%;
    bottom: 0;
}
.hover4:hover::before{
    border-radius: 50% 50% 0 0;
    height: 0;
}




